*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  width: 25%;
  position: relative;
}

figure, .film-details {
  display: inline-block;
  padding: 5px;
}

.film {
  position: relative;
  overflow: hidden;
  width: 50%;
  margin: 40px auto;
  border: 2px solid grey;
}

.film-details {
  width: 70%;
  vertical-align: top;
}

.action-like {
  position: absolute;
  bottom: 4px;
  right: 4px;
  color: red;
}

.action-watch-later {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}
